<div>
    <p><%= flash[:notice] %></p>
</div>
<div class="container">
    <div class="row mt-3">
        <%= render 'users/userInfo', user: current_user %>
        <%= render 'new', book: @book %>
        <div class="col-md-8 offset-md-1">
            <h2>Book detail</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <%= image_tag @user.get_profile_image(100,100) %></br>
                            <%= link_to @user.name,user_path(@user.id) %>
                        </td>
                        <td><%= link_to @aBook.title ,book_path(@aBook.id)%></td>
                        <td><%= @aBook.body %></td>
                        <% if current_user.id == @user.id %>
                            <td><%= link_to "Edit",edit_book_path(@aBook.id),class:"btn btn-success btn-sm" %></td>
                            <td><%= link_to "Destroy",book_path(@aBook.id),method: :delete, data: {confirm: "本当に消しますか？"},class:"btn btn-sm btn-danger" %></td>
                        <% end %>
                        <td>
                         <% if @aBook.favorited_by?(current_user) %>
                            <%= link_to book_favorites_path(@aBook.id), method: :delete do %>
                                <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                                <%= @aBook.favorites.count %> 
                            <% end %>
                        <% else %>
                            <%= link_to book_favorites_path(@aBook.id), method: :post do %>
                                <i class="fa-solid fa-heart" style="color: #0007c7;"></i>
                                <%= @aBook.favorites.count %>
                            <% end %>
                        <% end %>
                        </td>
                        <td><p>コメント数：<%= @aBook.book_comments.count %></p></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-borderless">
              <% @aBook.book_comments.each do |book_comment| %>
              <tbody>
              <tr>
                <td>
                    <p><%= image_tag book_comment.user.get_profile_image(100,100) %></p>
                    <%= link_to book_comment.user.name,user_path(book_comment.user.id) %>
                </td>
                <td><%= book_comment.comment %></td>
                <% if current_user.id == book_comment.user.id %>
                    <td><%= link_to "Destroy",book_book_comment_path(book_comment.id),method: :delete, data: {confirm: "本当に消しますか？"},class:"btn btn-sm btn-danger" %></td>
                <% end %>
                <td> </td>
                <td> </td>
                <td></td>
                <td></td>
              </tr>
              </tbody>
              <% end %>
            </table>
            
            <div>
            <%= form_with model: [@aBook, @comment] do |f| %>
                <div class="form-group">
                    <%= f.text_area :comment, rows: '5', class:"form-control"%>
                </div>
                <%= f.submit "送信する" %>
            <% end %>
            </div>
        </div>
    </div>
</div>